<section class="card">
  <header>
    <h2>{{title}}</h2>
    <p>Posted by {{user.username}} on {{format_date createdAt}}</p>
  </header>

  <div class="card-body">
    <p>{{text}}</p>
  </div>
</section>
