{{#if logged_in}}   
   <h2>New Comment</h2>

    <form class="form comment-form">
      <div class="form-group">
        <label for="new-comment-text">Text:</label>
        <input class="form-input" type="text" id="new-comment-text" />
      </div>
      <div class="form-group">
        <button class="comment-btn btn btn-primary" type="submit">Post!</button>
      </div>
    </form>
  </div>
<script src="/js/new-comment.js"></script>"

{{/if}}