<header>
	<h2>{{post.title}}</h2>
	<p>Posted by {{post.user.username}} on {{format_date post.createdAt}}</p>

	<p>{{post.text}} </p>
</header>

<div class="comments-container">

{{#each post.comments as |comment| }} 

{{> comment}}

{{/each}} 

</div>

<button class = "new-comment-btn" type="button">New Comment</button>

<div class="new-comment-container" style="display: none">
	<h2>New Comment</h2>

	<form class="form comment-form">
	  <div class="form-group">
	    <label for="new-comment-text">Text:</label>
	    <input class="form-input" type="text" id="new-comment-text" />
	  </div>
	  <div class="form-group">
	    <button class="comment-btn btn btn-primary" type="submit">Post!</button>
	    <button class="close-comment-btn btn btn-primary" type="button" style="background-color: red;">Close</button>
	  </div>
	</form>
</div>


<script>



const newCommentRender = async (event) => {
	document.querySelector(".new-comment-container").removeAttribute("style");
}
const closeNewComment = async (event) => {
	document.querySelector(".new-comment-container").setAttribute("style","display: none");
}

document
  .querySelector('.new-comment-btn')
  .addEventListener('click', newCommentRender);

document
  .querySelector('.close-comment-btn')
  .addEventListener('click', closeNewComment);

</script>